---
import MainTitle from '@/components/MainTitle.astro'
import { SendForm } from '@/components/SendForm'
import Chat from '@/icons/Chat.astro'
import Check from '@/icons/Check.astro'
import Copy from '@/icons/Copy.astro'
import { getI18N } from '@/languages/index.ts'
import { businessEmail, businessInstagram, businessWhatsApp } from '@/libs/consts'

const email: string = businessEmail
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<div class='flex w-full max-w-4xl flex-col md:w-11/12 lg:w-8/12'>
	<MainTitle>
		<Chat class='size-8' />
		{i18n.CONTACT}
	</MainTitle>

	<div class='mt-4 flex w-full flex-col gap-4 sm:flex-row sm:justify-between'>
		<div class='flex-1'>
			<p class='mb-6 text-pretty text-slate-400'>
				<strong class='text-accent'>{i18n.CONTACT_TXT_1}</strong>
				{i18n.CONTACT_TXT_2}
				<a
					rel='noopener noreferrer'
					href={businessInstagram}
					target='_blank'
					class='font-bold text-accent transition-colors active:text-secondary active:underline sm:hover:text-secondary sm:hover:underline'
					>Instagram</a
				>
				{i18n.OR}
				<a
					rel='noopener noreferrer'
					href={businessWhatsApp}
					target='_blank'
					class='font-bold text-accent transition-colors active:text-secondary active:underline sm:hover:text-secondary sm:hover:underline'
					>WhatsApp</a
				>.
			</p>

			<p class='mb-6 text-pretty text-slate-400'>
				{i18n.CONTACT_TXT_3}
				<strong class='text-accent'>{i18n.CONTACT_TXT_4}</strong>
				{i18n.CONTACT_TXT_5}
			</p>

			<div
				class='flex h-fit w-fit flex-row items-center justify-center gap-2 rounded-xl bg-accent/10 bg-opacity-20 px-2 text-accent'
			>
				<h5 id='email' class='font-bold text-accent'>{email}</h5>

				<Copy
					id='copyEmailIcon'
					class='inline-block h-5 w-5 cursor-pointer transition-transform hover:scale-105 hover:text-slate-400'
				/>

				<Check id='copiedEmailIcon' class='hidden h-5 w-5 text-accent' />
			</div>
		</div>

		<SendForm client:visible currentLocale={currentLocale} />
	</div>
</div>

<script>
	import { getI18N } from '@/languages/index'
	import { businessEmail } from '@/libs/consts'
	import { $ } from '@/libs/dom-selector.ts'

	document.addEventListener('astro:page-load', () => {
		const copyEmailIcon = $('#copyEmailIcon')
		const copiedEmailIcon = $('#copiedEmailIcon')
		const currentLocale = navigator.language.split('-')[0]
		const i18n = getI18N({ currentLocale })

		copyEmailIcon?.addEventListener('click', () => {
			copyEmailIcon?.classList.remove('inline-block')
			copyEmailIcon?.classList.add('hidden')
			copiedEmailIcon?.classList.add('inline-block')
			copiedEmailIcon?.classList.remove('hidden')

			navigator.clipboard.writeText(businessEmail)

			window.toast({
				dismissible: true,
				icon: true,
				location: 'bottom-center',
				title: i18n.EMAIL_COPIED,
				type: 'success',
			})

			setTimeout(() => {
				copyEmailIcon?.classList.add('inline-block')
				copyEmailIcon?.classList.remove('hidden')
				copiedEmailIcon?.classList.remove('inline-block')
				copiedEmailIcon?.classList.add('hidden')
			}, 3000)
		})
	})
</script>
