---
import Divider from '@/components/ui/Divider.astro'
import GitHub from '@/icons/GitHub.astro'
import Instagram from '@/icons/Instagram.astro'
import WhatsApp from '@/icons/WhatsApp.astro'
import X from '@/icons/X.astro'
import { getI18N } from '@/languages/index.ts'
import { businessInstagram, businessWhatsApp } from '@/libs/consts'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<footer class='flex w-full items-center justify-center'>
	<div class='flex w-full max-w-4xl flex-col px-4 py-10 sm:w-11/12 sm:px-6 md:w-8/12 lg:px-8'>
		<Divider />

		<div
			class='flex w-full flex-col-reverse items-center gap-4 md:justify-between md:gap-2 lg:flex-row lg:items-center'
		>
			<a
				href='https://fotoestudioelchevere.com/'
				class='order-1 flex max-w-16 items-center justify-center lg:order-none'
			>
				<img
					src='/logo-no-name.png'
					alt='Logo Foto Estudio El Chévere'
					loading='lazy'
					decoding='async'
				/>
			</a>

			<p class='max-w-md text-pretty text-center text-sm text-slate-400 lg:text-start'>
				&#169; 2025 Foto Estudio El Chévere. {i18n.FOOTER_TXT_1}
				<a
					rel='noopener noreferrer'
					href='https://rikirilis.xyz'
					class='font-bold text-accent transition-colors active:text-slate-300 active:underline sm:hover:text-slate-300 sm:hover:underline'
					>RikiRilis</a
				>
				(Rikelvi Capellán García) {i18n.FOOTER_TXT_2}
				<a
					rel='noopener noreferrer'
					href='https://astro.build'
					target='_blank'
					class='font-bold text-accent transition-colors active:text-slate-300 active:underline sm:hover:text-slate-300 sm:hover:underline'
					>Astro</a
				>, <a
					rel='noopener noreferrer'
					href='https://tailwindcss.com'
					target='_blank'
					class='font-bold text-accent transition-colors active:text-slate-300 active:underline sm:hover:text-slate-300 sm:hover:underline'
					>Tailwind CSS</a
				>
				{i18n.FOOTER_TXT_3}
				<a
					rel='noopener noreferrer'
					href='https://vercel.com'
					target='_blank'
					class='font-bold text-accent transition-colors active:text-slate-300 active:underline sm:hover:text-slate-300 sm:hover:underline'
					>Vercel</a
				>.
			</p>

			<ul class='flex flex-row items-center gap-x-6'>
				<li>
					<a
						target='_blank'
						href='https://github.com/RikiRilis/el-chevere-web'
						rel='noopener noreferrer'
						aria-label="Rikelvi's GitHub brand logo will open in a new window"
						class='inline-block hover:scale-125 motion-safe:transition motion-reduce:hover:scale-100'
					>
						<GitHub
							class='size-8 text-slate-400 transition-colors active:text-accent motion-reduce:duration-0 sm:hover:text-accent'
						/>
					</a>
				</li>
				<li>
					<a
						target='_blank'
						href={businessInstagram}
						rel='noopener noreferrer'
						aria-label="Rikelvi's Instagram brand logo will open in a new window"
						class='inline-block hover:scale-125 motion-safe:transition motion-reduce:hover:scale-100'
					>
						<Instagram
							class='size-10 text-slate-400 transition-colors active:text-accent motion-reduce:duration-0 sm:hover:text-accent'
						/>
					</a>
				</li>
				<li>
					<a
						target='_blank'
						href='https://twitter.com/rikirilis_'
						rel='noopener noreferrer'
						aria-label="Rikelvi's X brand logo will open in a new window"
						class='inline-block hover:scale-125 motion-safe:transition motion-reduce:hover:scale-100'
					>
						<X
							class='size-8 text-slate-400 transition-colors active:text-accent motion-reduce:duration-0 sm:hover:text-accent'
						/>
					</a>
				</li>
				<li>
					<a
						target='_blank'
						href={businessWhatsApp}
						rel='noopener noreferrer'
						aria-label="Rikelvi's WhatsApp channel brand logo will open in a new window"
						class='inline-block hover:scale-125 motion-safe:transition motion-reduce:hover:scale-100'
					>
						<WhatsApp
							class='size-9 text-slate-400 transition-colors active:text-accent motion-reduce:duration-0 sm:hover:text-accent'
						/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
