---
import type { Preload } from '@/interfaces/preload'
import { getI18N } from '@/languages/index'

interface Props {
	title: string
	description: string
	preload?: Array<Preload>
	canonical?: string
	image?: string
}
const currentLocale = Astro.currentLocale
const i18n = getI18N({ currentLocale })
const {
	title = 'Foto Estudio El Chévere - Official Web',
	description = i18n.PAGE_DESCRIPTION,
	preload,
	canonical = 'https://fotoestudioelchevere.com/',
	image = 'https://ynbjmptmmmbaspzfxzdu.supabase.co/storage/v1/object/sign/el-chevere-web/statics/page-presentation.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJlbC1jaGV2ZXJlLXdlYi9zdGF0aWNzL3BhZ2UtcHJlc2VudGF0aW9uLmF2aWYiLCJpYXQiOjE3NDEyMjcwNjAsImV4cCI6MzMyNDU2OTEwNjB9.6jqEWgnSG7TWmQtwFsdj6NDmpuh17Gv0gTGUVuxbVlQ',
} = Astro.props as Props
---

<meta charset='UTF-8' />
<meta name='viewport' content='width=device-width' />

<title>{title}</title>
<meta name='description' content={description} />

<link rel='canonical' href={canonical} />
<link rel='author' href='https://www.linkedin.com/in/rikirilis' />

{
	preload?.map(({ href, as, type, rel = 'preload', crossorigin }) => (
		<link {rel} {href} {as} {type} {crossorigin} />
	))
}

<meta
	name='keywords'
	content='fotos, bebés, niños, familia, estudio, profesional, estudio fotográfico, estudio de fotografía, estudio de fotos, estudio de fotografía profesional, estudio de fotos profesional, estudio de fotos para bebés, estudio de fotos para niños, estudio de fotos para familias, estudio de fotos para embarazadas, estudio de fotos para recién nacidos, estudio de fotos para bebés recién nacidos, estudio de fotos para niños recién nacidos, estudio de fotos para familias recién nacidas, estudio de fotos para embarazadas recién nacidas, estudio de fotos para recién nacidos recién nacidos, el chevere, el chevere estudio, el chevere estudio fotográfico, el chevere estudio de fotografía, el chevere estudio de fotos, el chevere estudio de fotografía profesional, el chevere estudio de fotos profesional, el chevere estudio de fotos para bebés, el chevere estudio de fotos para niños, el chevere estudio de fotos para familias, el chevere estudio de fotos para embarazadas, el chevere estudio de fotos para recién nacidos, el chevere estudio de fotos para bebés recién nacidos, el chevere estudio de fotos para niños recién nacidos, el chevere estudio de fotos para familias recién nacidas, el chevere estudio de fotos para embarazadas recién nacidas, el chevere estudio de fotos para recién nacidos recién nacidos'
/>

<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@rikirilis_' />
<meta name='twitter:creator' content='@rikirilis_' />
<meta name='twitter:title' content={title} />
<meta name='twitter:description' content={description} />
<meta name='twitter:image' content={new URL(image, Astro.url)} />

<meta property='og:image' content={new URL(image, Astro.url)} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:url' content={Astro.url} />
<meta property='og:site_name' content='Foto Estudio El Chevere - Official Web' />
<meta property='og:type' content='website' />
<meta name='og:locale' content='es_Es' />

<meta name='robots' content='index, follow' />
<meta name='googlebot' content='index, follow' />

<link rel='icon' type='image/svg+xml' href='/favicon.ico' />
<link rel='apple-touch-icon' href='/img/icons/apple-touch-icon.png' />

<link rel='icon' type='image/svg+xml' href='/favicon.ico' />
<meta name='msapplication-config' content='/browserconfig.xml' />

<link rel='manifest' href='/manifest.webmanifest' />
