---
import SectionContainer from '@/components/SectionContainer.astro'
import Contact from '@/components/sections/Contact.astro'
import Faqs from '@/components/sections/Faqs.astro'
import Footer from '@/components/sections/Footer.astro'
import SEO from '@/components/SEO.astro'
import GoToTop from '@/components/ui/GoToTop.astro'
import Header from '@/components/ui/Header.astro'
import Toast from '@/components/ui/Toast.astro'
import WhatsAppButton from '@/components/ui/WhatsAppButton.astro'
import type { Preload } from '@/interfaces/preload'
import '@fontsource-variable/onest'
import { ClientRouter } from 'astro:transitions'

interface Props {
	title: string
	description: string
	preload?: Array<Preload>
	canonical?: string
	image?: string
}

const { title, description, preload, canonical, image } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<SEO
			canonical={canonical}
			description={description}
			image={image}
			preload={preload}
			title={title}
		/>

		<ClientRouter />
	</head>
	<body class='relative overflow-x-hidden'>
		<GoToTop />
		<WhatsAppButton />
		<Toast />

		<Header />

		<main>
			<slot />

			<SectionContainer id='faqs'>
				<Faqs />
			</SectionContainer>

			<SectionContainer
				id='contact'
				class='section relative w-full bg-black/50 px-4 py-20 sm:px-6 lg:px-8'
			>
				<Contact />
			</SectionContainer>
		</main>

		<Footer />
	</body>
</html>

<style is:global>
	html {
		font-family: 'Onest Variable', 'Ubuntu', system-ui, sans-serif;
		background-color: #09122a;
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	input[type='date']::-webkit-inner-spin-button,
	input[type='date']::-webkit-calendar-picker-indicator,
	input[type='time']::-webkit-inner-spin-button,
	input[type='time']::-webkit-calendar-picker-indicator {
		cursor: pointer;
		filter: invert();
	}

	::-webkit-scrollbar-thumb {
		background-color: #3b82f6;
	}

	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		background: #000;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	.fade-up-anim {
		animation: fade-up-animation linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
	}

	@keyframes fade-up-animation {
		0% {
			opacity: 0;
			translate: 0 50px;
			scale: 0.7;
		}

		100% {
			opacity: 1;
			translate: 0 0;
			scale: 1;
		}
	}

	.fade-left-anim {
		animation: fade-left-animation linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
	}

	@keyframes fade-left-animation {
		0% {
			opacity: 0;
			translate: 50px 0;
			scale: 0.7;
		}

		100% {
			opacity: 1;
			translate: 0 0;
			scale: 1;
		}
	}

	.fade-right-anim {
		animation: fade-right-animation linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
	}

	@keyframes fade-right-animation {
		0% {
			opacity: 0;
			translate: -50px 0;
			scale: 0.7;
		}

		100% {
			opacity: 1;
			translate: 0 0;
			scale: 1;
		}
	}

	.mask-image {
		mask-image: linear-gradient(to bottom, #000 50%, transparent 100%);
	}
</style>
