---
import MainTitle from '@/components/MainTitle.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import { Loading } from '@/icons/Loading'
import UpArrow from '@/icons/UpArrow.astro'
import { getI18N } from '@/languages/index'
import Layout from '@/layouts/Layout.astro'
import { getCategories } from '@/services/categories'
import 'photoswipe/style.css'

const id = Astro.params.id
const currentLocale = Astro.currentLocale
const i18N = getI18N({ currentLocale })
const category = getCategories(currentLocale).find((category) => category.id === id)
---

<Layout
	title={`${category?.name} - Foto Estudio El Chévere - Official Web`}
	description={i18N.PAGE_DESCRIPTION}
	canonical={`https://fotoestudioelchevere.com/portfolio/${id}`}
>
	<SectionContainer>
		<div class='flex w-full max-w-5xl flex-col md:w-11/12 lg:w-8/12'>
			<MainTitle>
				<div>
					<UpArrow
						class='back-button size-12 -rotate-90 cursor-pointer rounded-full border border-transparent p-2 transition hover:border-secondary/10 hover:bg-secondary/5'
					/>
				</div>

				{category?.name}
			</MainTitle>

			<p class='mb-6 text-pretty text-slate-400'>{category?.description}</p>

			<!-- Masonry with Grid -->
			<div id='gallery' style='column-gap: 1rem; column-width: 250px;'>
				{
					category?.images
						?.sort(() => Math.random() - 0.5)
						.map((image, index) => (
							<a
								href={`${image.src}.webp`}
								data-pswp-width={image.width}
								data-pswp-height={image.height}
								target='_blank'
								class={`hoverZoomLink group relative mb-4 block cursor-zoom-in break-inside-avoid`}
							>
								<img
									src={`https://www.fotoestudioelchevere.com/${image.src}.webp`}
									srcset={`https://www.fotoestudioelchevere.com/${image.src}.webp`}
									alt={`Image ${index + 1}`}
									loading='lazy'
									decoding='async'
									width={image.width}
									height={image.height}
									class={`w-full rounded-xl transition group-active:scale-105 md:group-hover:scale-105 md:group-hover:rounded-lg`}
								/>

								<img
									src={`https://www.fotoestudioelchevere.com/${image.src}.webp`}
									srcset={`https://www.fotoestudioelchevere.com/${image.src}.webp`}
									alt={`Image ${index + 1}`}
									loading='lazy'
									decoding='async'
									width={image.width}
									height={image.height}
									class='absolute inset-0 -z-10 w-full opacity-0 blur-md contrast-150 transition group-active:opacity-100 group-active:blur-lg md:group-hover:opacity-100 md:group-hover:blur-lg'
								/>

								<Loading
									client:visible
									classes='-z-20 inset-0 absolute m-auto size-5 text-primary'
								/>
							</a>
						))
				}
			</div>
		</div>
	</SectionContainer>
</Layout>

<script>
	import { $ } from '@/libs/dom-selector'
	import PhotoSwipeLightbox from 'photoswipe/lightbox'

	document.addEventListener('astro:page-load', () => {
		const lightbox = new PhotoSwipeLightbox({
			gallery: '#gallery',
			children: 'a',
			showAnimationDuration: 200,
			hideAnimationDuration: 200,
			zoomAnimationDuration: 200,
			showHideAnimationType: 'zoom',
			pswpModule: () => import('photoswipe'),
		})
		lightbox.init()

		const backButton = $('.back-button')
		backButton?.addEventListener('click', () => {
			history.back()
		})
	})
</script>
